<div>
  <p class="fs-5 fw-bold">
    Enqueued Jobs
  </p>
  <% if @enqueued_jobs.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Job Class</th>
          <th scope="col">Job Name</th>
          <th scope="col">Job ID</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>
      <tbody>
        <%= @scheduled_jobs.each do |job| %>
          <tr>
            <td><%= job.args[0]['job_class'] %></td>
            <td><%= job.args[0]['arguments'] %></td>
            <td><%= job.args[0]['job_id'] %></td>
            <td><%= job.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>