<div>
  <p class="fs-3 fw-bold">
    Hello! You Can Register Jobs Here...
  </p>
  <hr/>
  <%= form_with url: jobs_path, method: :post do |f| %>
    <%= f.label :name, "Job Name" %>
    <%= f.text_field :name %>
    <%= f.datetime_local_field("datetime") %>
    <%= f.submit "Add Job", class: %w(btn btn-outline-primary) %>
  <% end %>
  <hr/>
  <div>
    <p class="fs-5 fw-bold">
      Histories for Past 10 Days
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <% @histories_processed.each_key do | k | %>
            <th><%= k %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Processed</th>
          <% @histories_processed.each_value do | v | %>
            <td><%= v %></td>
          <% end %>
        </tr>
        <tr>
          <th>Failed</th>
          <% @histories_failed.each_value do | v | %>
            <td><%= v %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <hr/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Job Class</th>
        <th scope="col">Job Name</th>
        <th scope="col">Scheduled At</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <%= @scheduled_jobs.each do |job| %>
        <tr>
          <td><%= job.args[0]['job_class'] %></td>
          <td><%= job.args[0]['arguments'] %></td>
          <td><%= job.at %></td>
          <td><%= job.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>